*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

/* Estilos Gerais */

body {
	font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

ul{
    list-style: none;
}

.btn{
    color: #fec63e;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    border: 3px solid #fec63e;
    padding: 10px 20px;
}

.btn:hover{
    color: #fff;
    border-color: #fff;
}

.btn_preto:hover{
    color: #000;
    border-color: #000;
}

.subtitulo{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 40px;
    text-align: center;
}

.subtitulo::after{
    content: "";
    display: block;
    background: #000;
    width: 60px;
    height: 3px;
    margin: 8px auto;
}

/* Header */

.header {
	position: fixed;
	top: 0;
	width: 100%;
	background: #fec63e;
	padding: 15px 0;
    z-index: 10;
}

.header_menu {
	text-align: right;
}

.header_menu ul li {
	display: inline-block;
	margin-left: 25px;
	margin-top: 20px;
}

.header_menu ul li a {
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0;
}

.header_menu ul li a:hover {
	color: #fff;
}

.header_menu ul li a.menu_ativo{
    color: #fff;
}

.header_menu ul li a.menu_ativo::after{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}

/* Introdução */

.introducao{
    width: 100%;
    height: 380px;
    background: url(../img/bg.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    margin-top: 96px;
    padding: 80px;
}

.introducao h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
}

.quote_externo{
    max-width: 320px;
    color: #fff;
    margin: 0 auto 40px auto;
}

.quote_externo p{
    font-style: italic;
}

/* Para fazer as linhas que aparecem na citação */
.quote_externo p::before, .quote_externo p::after{
    content: "";
    display: block;
    background: #fff;
    width: 60px;
    height: 3px;
    margin: 14px auto 10px auto;
}

.quote_externo cite{
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    font-size: 14px;
}

/* Produtos */

.produtos{
    padding: 60px 0;
    text-align: center;
}

.produtos_lista{
    background-color: #fec63e;
}

.produtos_lista h3{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 20px;
    letter-spacing: .1em;
}

.produtos_lista h3::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #000;
    margin: 8px auto;
}

.produtos_lista p{
    padding: 10px 20px 20px;
}

.produtos_icone{
    background-color: #000;
    padding: 20px;
}

.call p{
    clear: both;
    padding: 40px 0 20px;
}

/* Portfólio */

.portfolio{
    background-color: #000;
    padding: 40px 0;
    text-align: center;
}

.portfolio .subtitulo{
    color: #fec63e;
}

.portfolio .subtitulo::after{
    background-color: #fec63e;
}

.portfolio ul li:last-child{
    padding-top: 16px;
}

.portfolio .call p{
    color: #fff;
}

/* Qualidade */

.qualidade{
    padding: 60px 0;
    text-align: center;
}

.qualidade::after{
    content: "";
    display: block;
    background: url(../img/linhas.svg) no-repeat center;
    width: 634px;
    height: 83px;
    position: absolute;
    top: 207px;
    right: 162px;
    z-index: -1; /* só para garantir que fique por baixo de outros elementos  */
}

.qualidade_lista h3{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 40px;
    letter-spacing: .1em;
}

.qualidade_lista h3::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #000;
    margin: 8px auto;
}

/* Citação */

.citacao{
    background: url(../img/bg-footer.jpg) no-repeat center;
    background-size: cover;
    height: 220px;
    text-align: center;
    padding-top: 44px;
}

/* Footer */

footer{
    background-color: #000;
    color: #fff;
    padding-top: 25px;
}

footer h3{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #fec63e;
}

footer h3::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fec63e;
    margin: 10px 0 19px 0;
}

footer p{
    width: 90%;
}

footer ul li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

.footer_redes li{
    display: inline-block;
    padding-right: 10px;
}

.footer_redes li a{
    border: 3px #fec63e solid;
    display: block;
    padding: 10px;
    line-height: 0px;
}

.footer_redes li a:hover{
    border-color: #fff;
}

.copyright{
    background-color: #fec63e;
    padding: 20px 0;
    margin-top: 25px;
}

.copyright p{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* Introdução Interna */

.introducao_interna{
    padding-top: 96px;
    text-align: center;
    color: #fff;
}

.introducao_interna h2{
    padding-top: 35px;
    text-transform: uppercase;
    font-size: 36px;
}

.introducao_interna h2::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 6px auto 16px auto;
}

.bg_sobre{
    background: url(../img/bg-sobre.jpg) no-repeat center;
    width: 100%;
    height: 160px;
}

/* Sobre */

.sobre{
    padding-top: 60px;
}

.sobre p{
    padding-bottom: 25px;
    line-height: 20px;
    font-size: 18px;
    width: 90%;
}

.subtitulo_interno{
    text-align: left;
    margin-bottom: 30px;
}

.subtitulo_interno::after{
    margin: 8px 0;
}

.sobre ul{
    margin-bottom: 60px;
}

.sobre ul li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    padding-bottom: 15px;
}