*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

/* Estilos Gerais */

body {
	font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

ul{
    list-style: none;
}

img{
    max-width: 100%; /*Para deixar a imagem responsiva e ela se adaptar ao elemento pai*/
}

.btn{
    color: #fec63e;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    border: 3px solid #fec63e;
    padding: 10px 20px;
}

.btn:hover{
    color: #fff;
    border-color: #fff;
}

.btn_preto:hover{
    color: #000;
    border-color: #000;
}

.subtitulo{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 40px;
    text-align: center;
}

.subtitulo::after{
    content: "";
    display: block;
    background: #000;
    width: 60px;
    height: 3px;
    margin: 8px auto;
}

/* Header */

.header {
	position: fixed;
	top: 0;
	width: 100%;
	background: #fec63e;
	padding: 15px 0;
    z-index: 10;
}

.header_menu {
	text-align: right;
}

.header_menu ul li {
	display: inline-block;
	margin-left: 25px;
	margin-top: 20px;
}

.header_menu ul li a {
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0;
}

.header_menu ul li a:hover {
	color: #fff;
}

.header_menu ul li a.menu_ativo{
    color: #fff;
}

.header_menu ul li a.menu_ativo::after{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}

/* Introdução */

.introducao{
    width: 100%;
    height: 380px;
    background: url(../img/bg.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    margin-top: 96px;
    padding-top: 80px;
}

.introducao h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
}

.quote_externo{
    max-width: 320px;
    color: #fff;
    margin: 0 auto 40px auto;
}

.quote_externo p{
    font-style: italic;
}

/* Para fazer as linhas que aparecem na citação */
.quote_externo p::before, .quote_externo p::after{
    content: "";
    display: block;
    background: #fff;
    width: 60px;
    height: 3px;
    margin: 14px auto 10px auto;
}

.quote_externo cite{
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    font-size: 14px;
}

/* Produtos */

.produtos{
    padding: 60px 0;
    text-align: center;
}

.produtos_lista{
    background-color: #fec63e;
}

.produtos_lista h3{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 20px;
    letter-spacing: .1em;
}

.produtos_lista h3::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #000;
    margin: 8px auto;
}

.produtos_lista p{
    padding: 10px 20px 20px;
}

.produtos_icone{
    background-color: #000;
    padding: 20px;
}

.call p{
    clear: both;
    padding: 40px 0 20px;
}

/* Portfólio */

.portfolio{
    background-color: #000;
    padding: 40px 0;
    text-align: center;
}

.portfolio .subtitulo{
    color: #fec63e;
}

.portfolio .subtitulo::after{
    background-color: #fec63e;
}

.portfolio ul li:last-child{
    padding-top: 16px;
}

.portfolio .call p{
    color: #fff;
}

/* Qualidade */

.qualidade{
    padding: 60px 0;
    text-align: center;
}

.qualidade::after{
    content: "";
    display: block;
    background: url(../img/linhas.svg) no-repeat center;
    width: 634px;
    height: 83px;
    position: absolute;
    top: 207px;
    right: 162px;
    z-index: -1; /* só para garantir que fique por baixo de outros elementos  */
}

.qualidade_lista{
    padding: 0 10px;
}

.qualidade_lista h3{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 40px;
    letter-spacing: .1em;
}

.qualidade_lista h3::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #000;
    margin: 8px auto;
}

/* Citação */

.citacao{
    background: url(../img/bg-footer.jpg) no-repeat center;
    background-size: cover;
    height: 220px;
    text-align: center;
    padding-top: 44px;
}

/* Footer */

footer{
    background-color: #000;
    color: #fff;
    padding-top: 25px;
}

footer h3{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #fec63e;
}

footer h3::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fec63e;
    margin: 10px 0 19px 0;
}

footer p{
    width: 90%;
}

footer ul li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

.footer_redes li{
    display: inline-block;
    padding-right: 10px;
}

.footer_redes li a{
    border: 3px #fec63e solid;
    display: block;
    padding: 10px;
    line-height: 0px;
}

.footer_redes li a:hover{
    border-color: #fff;
}

.copyright{
    background-color: #fec63e;
    padding: 20px 0;
    margin-top: 25px;
}

.copyright p{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* Introdução Interna */

.introducao_interna{
    padding-top: 96px;
    text-align: center;
    color: #fff;
}

.introducao_interna h2, .introducao_interna h1{
    padding-top: 35px;
    text-transform: uppercase;
    font-size: 36px;
}

.introducao_interna h2::after, .introducao_interna h1::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 6px auto 16px auto;
}

.bg_sobre{
    background: url(../img/bg-sobre.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 160px;
}

.bg_produtos{
    background: url(../img/bg-produtos.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 160px;
}

.bg_portfolio{
    background: url(../img/bg-portfolio.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 160px;
}

.bg_contato{
    background: url(../img/bg-contato.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 160px;
}

/* Sobre */

.sobre{
    padding-top: 60px;
}

.sobre p{
    padding-bottom: 25px;
    line-height: 20px;
    font-size: 18px;
    width: 90%;
}

.subtitulo_interno{
    text-align: left;
    margin-bottom: 30px;
}

.subtitulo_interno::after{
    margin: 8px 0;
}

.sobre ul{
    margin-bottom: 60px;
}

.sobre ul li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    padding-bottom: 15px;
}

.qualidade_sobre{
    padding-bottom: 170px;
}

/* Produtos */

.interna_produtos{
    padding-top: 60px;
    text-align: center;
}

.bg_passeio{
    background: url(../img/produtos/bikcraft-passeio-1.jpg) no-repeat center;
    width: 640px;
    height: 280px;
}

.bg_esporte{
    background: url(../img/produtos/bikcraft-esporte-1.jpg) no-repeat center;
    width: 640px;
    height: 280px;
}

.bg_retro{
    background: url(../img/produtos/bikcraft-retro-1.jpg) no-repeat center;
    width: 640px;
    height: 280px;
}

.titulo_produto{
    color: #fff;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    padding-top: 112px;
}

.titulo_produto::before, .titulo_produto::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto 5px auto;
}

.icone_produto{
    background-color: #000;
    padding: 68px 40px;
    margin-bottom: 16px;
}

.info_produto{
    background-color: #000;
}

.info_produto p{
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    padding: 39px 30px;
}

.info_produto ul li{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    background-color: #fec63e;
    width: 229px;
    height: 50px;
    float: left;
    padding-top: 16px;
}

.info_produto ul li:nth-child(even){
    margin-left: 2px;
}

.info_produto ul li:nth-child(1), .info_produto ul li:nth-child(2){
    margin-bottom: 2px;
}

/* Orçamento */

.orcamento{
    background-color: #000;
    width: 100%;
    margin-top: 60px;
    padding: 40px 0;
}

.orcamento .subtitulo{
    color: #fec63e;
}

.orcamento .subtitulo::after{
    background-color: #fec63e;
}

.orcamento label{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 14px 0 5px 0;
    display: block;
}

.orcamento input, .orcamento textarea{
    display: block;
    border: #fec63e solid 4px;
    background: none;
    width: 80%;
    outline: none;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    padding: 9px 7px;
}

.orcamento button{
    margin-top: 20px;
    background: none;
}

.orcamento h3{
    color: #fec63e;
    font-size: 18px;
    padding-top: 14px;
}

.orcamento p{
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    padding-top: 10px;
}

.orcamento .dados h3:last-of-type{
    padding-top: 35px;
}

.orcamento .dados p:last-of-type{
    font-size: 14px;
    padding: 18px 0 12px 0;
}

.orcamento .dados ul li{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    padding: 10px 0 10px 15px;
}

.orcamento .dados ul li:nth-child(odd){
    background-color: #292929;
}

/* Portfólio */

.depoimento{
    text-align: center;
    padding-bottom: 40px;

}

.depoimento p{
    font-size: 18px;
    font-style: italic;
    line-height: 25px;
    padding: 40px 0 20px 0;
    max-width: 50%;
    margin: 0 auto;
}

.depoimento cite{
    font-weight: bold;
    font-size: 18px;
    font-style: normal;
}

/* Contato */

.contato{
    padding: 60px 0;
}

.contato label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 14px 0 5px 0;
    display: block;
}

.contato input, .contato textarea{
    display: block;
    border: #fec63e solid 4px;
    background: none;
    width: 80%;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    padding: 9px 7px;
}

.contato button{
    margin-top: 20px;
    background: none;
}

.contato h3{
    color: #fec63e;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 14px 0 14px 0;
}

.contato p{
    font-size: 18px;
    line-height: 30px;
}

.contato p:nth-child(odd){
    padding-bottom: 30px;
}

.contato_redes li{
    display: inline-block;
    padding-right: 10px;
}

.contato_redes li a{
    border: 3px #fec63e solid;
    display: block;
    padding: 10px;
    line-height: 0px;
}

.contato_redes li a:hover{
    border-color: #000;
}

.contato_mapa{
    padding-bottom: 60px;
}

/* Estilo para tablet */

@media only screen and (min-width: 788px) and (max-width: 979px) {

    /* Qualidade */

    .qualidade::after{
        right: 66px;
    }

    .footer_redes li a {
        padding: 6px;
    }

    .footer_redes li a img{
       width: 26px;
       height: 26px;
    }

    /* Produtos */

    .bg_passeio, .bg_esporte, .bg_retro {
        width: 508px;
        height: 238px;
    }

    .titulo_produto {
        padding-top: 90px;
    }

    .info_produto p {
        font-size: 14px;
        line-height: 20px;
        padding: 20px 20px;
    }

    .info_produto ul li {
        width: 181px;
    }

    .interna_produtos {
        padding-top: 30px;
    }

    .orcamento {
        margin-top: 30px;
    }

     /* Portfólio */

     .depoimento p {
        max-width: 60%;
    }
}
	
/* Estilo para smartphone */

@media only screen and (max-width: 787px) {

    /* Header */

    .header {
        position: relative;
        padding-bottom: 0;
    }

    .header img {
        display: block;
        margin: 0 auto 10px auto;
    }

    .header_menu{
        text-align: center;
    }

    .header_menu ul li {
        margin: 5px;
    }

    .header_menu ul li a {
        border: 4px solid #000;
        width: 136px;
        display: block;
        float: left;
    }
    
    .header_menu ul li a:hover {
        border-color: #fff;
    }
    
    .header_menu ul li a.menu_ativo {
        border-color: #fff;
    }

    .header_menu ul li a.menu_ativo::after{
     display: none;
    }

    /* Introdução */
    
    .introducao{
        background: url(../img/bg-mobile.jpg) no-repeat center;
        background-size: cover;
        margin-top: 0px;
        padding-top: 60px;
    }

    .introducao h1{
        font-size: 38px;
    }

    /* Introdução interna */

    .introducao_interna{
        padding-top: 0px;
    }
    
    /* Qualidade */

    .qualidade{
        padding: 30px 0;
    }

    .qualidade::after{
        display: none;
    }

    .qualidade ul{
        margin-top: 20px;
    }

    .qualidade_lista h3{
        padding-top: 15px;
    }

    .qualidade_sobre {
        padding-bottom: 20px;
    }

    /* Call */

    .call p{
        padding: 20px 0 20px;
    }

    /* Sobre */

    .sobre{
        padding-top: 30px;
    }

    .sobre p {
        font-size: 16px; 
        width: 100%;
    }

    .sobre ul li {
        font-size: 16px;
        padding-bottom: 15px;
    }

    .sobre ul {
        margin-bottom: 30px;
    }

    /* Produtos */

    .produtos {
        padding: 30px 0;
    }

    .bg_passeio, .bg_esporte, .bg_retro {
        width: 300px;
        height: 131px;
        margin-bottom: 22px;
    }

    .titulo_produto {
        padding-top: 36px;
    }

    .icone_produto {
        display: none;
    }

    .info_produto p {
        font-size: 14px;
        line-height: 20px;
        padding: 20px 20px;
    }

    .info_produto ul li {
        width: 149px;
    }

    .interna_produtos {
        padding-top: 30px;
    }

    .orcamento {
        margin-top: 30px;
    }

    .orcamento input, .orcamento textarea {
        width: 100%;
    }

    /* Portfólio */

    .depoimento p {
        max-width: 100%;
    }

    /* Contato */

    .contato input, .contato textarea {
        width: 100%;
    }

    .contato {
        padding: 30px 0;
    }

    .contato p:nth-child(odd) {
        padding-bottom: 14px;
    }

    .contato_mapa {
        padding-bottom: 45px;
    }
}